/*---------------Footer-----------------*/
.footer {
    position: relative;
    background: $color__black;
    color: #fff;
    // margin-top: 4rem;
    padding-top: 8rem;
    width: 100%;
    text-align: center;
    line-height: 3rem;

    &__contact {
        @include dl__flex;
        flex-direction: row;
        position: absolute;
        overflow: hidden;
        width: 80%;
        height: 8rem;
        top: -4rem;
        left: 10%;
        padding: 0 2rem;
        background-color: #fff;
        color: $color__coral;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-bottom: 1.5px solid $color__coral;
        border-top: 1.5px solid $color__coral;
        border-radius: 0.3rem;

        &--title {
            padding-right: 4rem;
            font-size: 1.2rem;
            letter-spacing: 1px;
            font-weight: 500;
        }

        &--form {
            @include dl__flex;
            flex-direction: row;
            position: relative;

            .form-input {
                padding: 0 101px 0 16px;
                width: 450px;
                height: 3.8rem;
                color: $color__coral;
                font-size: 1rem;
                border-radius: 0.4rem;
                border: 1px solid #eee;
                transition: 0.25s ease;

                &:focus {
                    border: 1px solid $color__coral;
                }

                &:not(:placeholder-shown)+.form-label,
                &:focus+.form-label {
                    top: 0;
                    left: 6px;
                    padding: 0 10px;
                    color: $color__coral;
                    background-color: #fff;
                    display: inline-block;
                }
            }

            .form-label {
                position: absolute;
                display: inline;
                top: 50%;
                left: 16px;
                color: #999;
                font-size: 0.9rem;
                letter-spacing: 0.5px;
                font-weight: normal;
                user-select: none;
                pointer-events: none;
                transform: translateY(-50%);
                transition: 0.25s ease;
            }

            .form-btn {
                position: absolute;
                padding: 0.3rem 0.8rem;
                height: 2.6rem;
                right: 0.6rem;
                top: 0.6rem;
                background: $bgLinearGradient__primary;
                color: #fff;
                font-size: 0.9rem;
                font-weight: normal;
                letter-spacing: 1px;
                border-radius: 0.4rem;
                border: 1px solid $color__coral;
                opacity: 0.9;
                transition: all 0.25s linear;

                &:hover {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.25s linear;
                }
            }
        }
    }

    &-logo {
        position: relative;
        padding-top: 1.5rem;
        font-family: $fontFamily__secondary;
        font-size: 2.2rem;
        letter-spacing: 0.5rem;

        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 70%;
            left: 0;
            height: 1.5px;
            width: 40%;
            background: $bgLinearGradient__primary;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 1.5px;
            width: 40%;
            top: 70%;
            right: 0;
            background: $bgLinearGradient__primary;
        }
    }

    &-title {
        position: relative;
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 1.5px;
            height: 4rem;
            top: 100%;
            left: 50%;
            background: $color__white;
            transform: translateX(-50%);
        }
    }

    &__list {
        margin-top: 5rem;
        margin-bottom: 1rem;

        &--link {
            margin: 1rem;
            color: #fff;
            font-size: 1.7rem;

            &:hover {
                color: $color__success;
            }
        }
    }

    &-email {
        position: relative;
        padding: 0.8rem 1rem;
        color: #fff;
        overflow: hidden;
        border-radius: 1rem;
        border: 0.1rem solid;
        border-image: $bgLinearGradient__secondary 1;

        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            height: 0.1rem;
            opacity: 0;
            visibility: hidden;
            background: $bgLinearGradient__secondary;
            transition: all 0.25s linear;
            bottom: 15%;
            left: 5%;
            right: 5%;
        }

        &:hover::after {
            opacity: 1;
            visibility: visible;
            bottom: 25%;
            transform: translateY(25%);
            transition: all 0.25s linear;
        }

        &:hover {
            color: $color__success;
        }
    }

    &-copy {
        margin-top: 1rem;
        padding-bottom: 0.5rem;
        font-family: $fontFamily__secondary;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1075px) {
    .footer {
        &__contact {
            &--title {
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        padding-top: 10rem;
        // margin-top: 6rem;

        &__contact {
            @include dl__flex;
            justify-content: space-around;
            flex-direction: column;
            width: 90%;
            height: 12rem;
            left: 5%;
            top: -6rem;
            margin: 0 auto;
            padding: 1.5rem 0;

            &--title {
                padding-left: 1rem;
                font-size: 1.2rem;
            }

            &--form {
                .form-input {
                    width: 600px;
                }

                .form-btn {
                    padding: 0rem 1.5rem;
                    font-size: 1rem;
                }
            }
        }

        &-logo {
            font-family: $fontFamily__secondary;
            padding-top: 2rem;
            font-size: 2.4rem;
            letter-spacing: 0.5rem;

            &::before {
                width: 34%;
                left: 4%;
            }

            &::after {
                width: 35%;
                right: 4%;
            }
        }

        &-email {
            padding: 0.6rem 0.9rem;
        }

        &-copy {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        &__contact {
            left: 0;
            width: 100%;

            &--title {
                font-size: 1.2rem;
            }

            &--form {
                margin: 0 1rem;

                .form-input {
                    max-width: 620px;
                    font-size: 1.2rem;
                }

                .form-label {
                    font-size: 1rem;
                    left: 10%;
                }

                .form-btn {
                    padding: 0rem 2rem;
                    top: 5%;
                    right: 0.2rem;
                    height: 90%;
                    font-size: 1.1rem;
                }
            }
        }

        &-logo {
            font-family: $fontFamily__secondary;
            font-size: 2.4rem;
            padding-top: 2rem;
            letter-spacing: 0.5rem;

            &::before {
                width: 29%;
                top: 70%;
                left: 5%;
            }

            &::after {
                width: 30%;
                top: 70%;
                right: 5%;
            }
        }

        &-email {
            padding: 0.6rem 0.9rem;
        }

        &-copy {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 640px) {
    .footer {
        &__contact {
            top: -9rem;
            height: 18rem;
            width: 100%;

            &--title {
                white-space: wrap;
                text-align: left;
                display: inline-block;
                font-size: 1.2rem;
                padding-left: 1.5rem;
            }

            &--form {
                height: 8rem;
                flex-direction: column;
                width: 100%;

                .form-input {
                    width: 100%;
                    max-width: 500px;
                    height: 5rem;
                    font-size: 1.1rem;
                }

                .form-label {
                    position: absolute;
                    top: 21.5%;
                    font-size: 1rem;
                }

                .form-btn {
                    margin-top: 1rem;
                    position: relative;
                    padding: 0.5rem 2rem;
                    height: 4rem;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    .footer {
        &__contact {
            top: -11rem;
            border-radius: 0;
            padding: 0 1rem;
            @include dl__flex;

            &--title {
                text-align: center;
                font-size: 1.3rem;
                white-space: wrap;
                margin-bottom: 2rem;
            }

            &--form {
                .form-input {
                    font-size: 1.1rem;
                }

                .form-btn {
                    margin-top: 1rem;
                }
            }
        }

        &-logo {
            font-family: $fontFamily__secondary;
            padding-top: 2rem;
            font-size: 2.4rem;
            letter-spacing: 0.5rem;

            &::before {
                width: 25%;
                left: 0;
            }

            &::after {
                width: 27%;
                right: 0;
            }
        }
    }
}