.mySkill {
    position: relative;
    padding: 3rem 1rem;
    margin-top: 2rem;
    padding-bottom: 20rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;

    &::after {
        position: absolute;
        content: "";
        background-image: url("../../assets/bg.png");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    &::before {
        position: absolute;
        content: "";
        background-image: url("../../assets/bg.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        transform: rotate(180deg);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        object-fit: contain;
    }

    &__title {
        position: relative;
        font-family: $fontFamily__secondary;
        display: inline-block;
        padding: 0.7rem 1.5rem;
        margin-bottom: 2rem;
        margin-top: 5rem;
        background: #fff;
        color: $color__secondary;
        font-weight: 500;
        font-size: 1.8rem;
        text-transform: capitalize;
        white-space: nowrap;
        border-radius: 3rem;
        box-shadow: 3px 2px 15px 2px rgb(240, 245, 250);

        &::after {
            content: "";
            position: absolute;
            width: 165%;
            height: 0.5px;
            left: -160%;
            top: 50%;
            background: $color__coral;
            transform: translateY(-50%);
        }

        &::before {
            content: "";
            position: absolute;
            width: 165%;
            height: 0.5px;
            top: 50%;
            right: -160%;
            background: $color__coral;
            transform: translateY(-50%);
        }
    }

    &__content {
        z-index: 1;
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 85%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 70px;
        align-items: center;
        justify-items: center;

        &--image {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 80px;
            max-height: 80px;
            overflow: hidden;
            object-fit: cover;

            img {
                height: 100%;
                width: 100%;
                border-radius: 10%;
                object-fit: contain;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .mySkill {
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 12rem;
        height: 100%;

        &__content {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media only screen and (max-width:520px) {
    .mySkill {
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 8rem;
        height: 100%;

        &__content {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (max-width:320px) {
    .mySkill {
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 7rem;
        height: 100%;

        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}