* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: $fontFamily__primary;
    width: 100%;
    min-height: 100vh;
    background: #fafaff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    outline: none;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    // overflow: hidden;
}

.con_pad {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

@media only screen and (max-width:1024px) {
    body {
        width: 100%;
        max-width: 1024px;
        min-height: 100vh;
    }

    .container {
        width: 100%;
        max-width: 1024px;
    }

    .con_pad {
        width: 100%;
        max-width: 1024px;
    }
}

@media only screen and (max-width:768px) {
    body {
        width: 100%;
        max-width: 768px;
        min-height: 100vh;
    }

    .container {
        width: 100%;
        max-width: 768px;
    }

    .con_pad {
        width: 100%;
        max-width: 768px;
    }
}

@media only screen and (max-width:590px) {
    body {
        width: 100%;
        max-width: 590px;
    }
}

@media only screen and (max-width:520px) {
    body {
        width: 100%;
        min-height: 100vh;
        max-width: 520px;
    }

    .container {
        width: 100%;
        max-width: 500px;
    }

    .con_pad {
        width: 100%;
        max-width: 500px;
    }
}

@media only screen and (max-width:380px) {
    body {
        width: 100%;
        min-height: 100vh;
        max-width: 380px;
    }

    .container {
        width: 100%;
        max-width: 380px;
    }

    .con_pad {
        width: 100%;
        max-width: 380px;
    }
}