/*-----Scroll-----*/
::-webkit-scrollbar {
    max-width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(white, $color__success, white);
    border-radius: 0.5rem;

    &:hover {
        background: linear-gradient($color__success, $color__success, $color__success);
    }
}

::-webkit-scrollbar-track {
    background: linear-gradient(#cde8f8, $color__secondary);
}

/*-----End Scroll-----*/