::selection {
    color: $color__coral;
    background-color: transparent;
}

::-webkit-selection {
    color: $color__coral;
    background-color: transparent;
}

::-moz-selection {
    color: $color__coral;
    background-color: transparent;
}