::selection {
    color: $c__coral;
    background-color: transparent;
}

::-webkit-selection {
    color: $c__coral;
    background-color: transparent;
}

::-moz-selection {
    color: $c__coral;
    background-color: transparent;
}