/*-----------Slider-----------*/
.slider {
    height: 600px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    padding-bottom: 6rem;

    &__nav {
        width: 18px;
        height: 18px;
        margin: 2rem 12px;
        border: 1px solid $c__coral;
        outline-offset: -6px;
        cursor: pointer;
        border-radius: 50%;
        z-index: 10;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.2s linear;

        &:checked {
            background: $c__coral;
            box-shadow: 3px 1px 15px 2px rgb(237, 248, 255);
            -webkit-animation: check 0.4s linear forwards;
            animation: check 0.4s linear forwards;
        }

        &:checked:nth-of-type(1)~.slider__inner {
            left: 0%;
        }

        &:checked:nth-of-type(2)~.slider__inner {
            left: -100%;
        }

        &:checked:nth-of-type(3)~.slider__inner {
            left: -200%;
        }

        &:checked:nth-of-type(4)~.slider__inner {
            left: -300%;
        }

        &:hover {
            background: $c__coral;
            transition: all 0.2s linear;
        }

        &:active {
            background: none;
            border: 1px solid $c__coral;
            transition: all 0.1s;
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        padding-bottom: 2rem;
    }

    &__contents {
        height: 100%;
        padding: 2rem;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    &__image {
        font-size: 4rem;
        color: $c__se;
    }

    &__caption {
        margin: 2rem 0 1rem;
        color: $c__se;
        font-size: 2.1rem;
        font-weight: 550;
        letter-spacing: 2px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }

    &__txt {
        max-width: 350px;
        margin-bottom: 4rem;
        color: $c__pr;
        font-size: 1.2rem;
        font-weight: 350;
        line-height: 2rem;
        letter-spacing: 0.5px;
    }
}

@-webkit-keyframes check {
    50% {
        outline-color: #fff;
        box-shadow: 0 0 0 12px $c__su, 0 0 0 36px rgba(248, 170, 97, 0.2);
    }

    100% {
        outline-color: $c__pr;
        box-shadow: 0 0 0 0 $c__su, 0 0 0 0 rgba(248, 170, 97, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #fff;
        box-shadow: 0 0 0 12px $c__su, 0 0 0 36px rgba(248, 170, 97, 0.2);
    }

    100% {
        outline-color: $c__pr;
        box-shadow: 0 0 0 0 $c__su, 0 0 0 0 rgba(248, 170, 97, 0);
    }
}

@media only screen and (max-width:1024px) {
    .slider {
        &__nav {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

@media only screen and (max-width:520px) {
    .slider {
        width: 100%;
        height: 1480px;
        margin-bottom: 10rem;
        overflow: hidden;

        &__nav {
            display: none;
        }

        &__inner {
            @include dl__flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: 400px;
            right: 0;
            left: 0;
            margin-top: 580px;

            .slider__contents {
                @include dl__flex;
                margin: 0;
                padding: 0;

                &:first-child::before {
                    content: "";
                    width: 0;
                }

                &::before {
                    content: "";
                    position: relative;
                    display: inline-block;
                    width: 90%;
                    height: 0.5px;
                    top: 0;
                    margin-bottom: 2rem;
                    background: $c__coral;
                }

                .slider__caption {
                    font-size: 1.8rem;
                }

                .slider__txt {
                    font-size: 1.1rem;
                    letter-spacing: 1.5px;
                    font-weight: 350;
                }
            }
        }
    }
}

/*-----------Slider-----------*/