/*-----Scroll-----*/
::-webkit-scrollbar {
    max-width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: $linearScrollbar;
    border-radius: 0.2rem;
    height: 8rem;

    &:hover {
        background: $linearScrollbar;
    }
}

::-webkit-scrollbar-track {
    background: linear-gradient(#cde8f8, #fff);
}

/*-----End Scroll-----*/