/*-----Scroll-----*/
::-webkit-scrollbar {
    max-width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background: $bgLinearGradient__primary;
    border-radius: 0.5rem;

    &:hover {
        background: $bgLinearGradient__primary;
    }
}

::-webkit-scrollbar-track {
    background: linear-gradient(#cde8f8, #fff);
}

/*-----End Scroll-----*/